[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/*"
  to = "https://script.google.com/macros/s/AKfycbycgGkGpMjqrMjgfeEZcREX6wtkMs4xHcxfuJpRloBcqt2ZKAv6uc_NWchxpnBM2P-HYQ/exec"
  status = 200
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
