[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/*"
  to = "https://script.google.com/macros/s/AKfycbwnsgE7MdFRzmGy2evr9qgVo_OcHF8eMCOZemG64gXol2YoQkNRRIVX-isujvJXB4Do_Q/exec"
  status = 200
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
